body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:450px;
    top:894px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_original {
    background-image: url('../2.0首页_files/u1_original.png');
}

.u1_container {
    position:absolute;
    left:136px;
    top:289px;
    width:404px;
    height:752px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:404px;
    height:752px;
}

.u2 {
    position:absolute;
    left:2px;
    top:368px;
    width:400px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:136px;
    top:289px;
    width:404px;
    height:752px
}

.u3_original {
    background-image: url('../2.0首页_files/u3_original.png');
}

.u3_container {
    position:absolute;
    left:178px;
    top:424px;
    width:320px;
    height:43px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:49px;
}

.u4 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:178px;
    top:424px;
    width:320px;
    height:43px
}

.u5_original {
    background-image: url('../2.0首页_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:240px;
    top:431px;
    width:97px;
    height:30px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:36px;
}

.u6 {
    position:absolute;
    left:2px;
    top:8px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:240px;
    top:431px;
    width:97px;
    height:30px
}

.u7_original {
    background-image: url('../2.0首页_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:339px;
    top:430px;
    width:103px;
    height:30px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:36px;
}

.u8 {
    position:absolute;
    left:2px;
    top:8px;
    width:99px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:339px;
    top:430px;
    width:103px;
    height:30px
}

.u9_container {
    position:absolute;
    left:178px;
    top:857px;
    width:321px;
    height:53px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:53px;
}

.u10 {
    position:absolute;
    left:2px;
    top:18px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:178px;
    top:857px;
    width:321px;
    height:53px
}

.u11 {
    position:absolute;
    left:195px;
    top:893px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:244px;
    top:894px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:310px;
    top:894px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:390px;
    top:894px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:450px;
    top:894px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_original {
    background-image: url('../2.0首页_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:178px;
    top:694px;
    width:320px;
    height:60px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:66px;
}

.u17 {
    position:absolute;
    left:2px;
    top:22px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:178px;
    top:694px;
    width:320px;
    height:60px
}

.u18_original {
    background-image: url('../2.0首页_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:187px;
    top:698px;
    width:50px;
    height:50px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u19 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:187px;
    top:698px;
    width:50px;
    height:50px
}

.u20 {
    position:absolute;
    left:247px;
    top:714px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:248px;
    top:698px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:248px;
    top:735px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_original {
    background-image: url('../2.0首页_files/u16_original.png');
}

.u23_container {
    position:absolute;
    left:178px;
    top:754px;
    width:320px;
    height:60px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:66px;
}

.u24 {
    position:absolute;
    left:2px;
    top:22px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:178px;
    top:754px;
    width:320px;
    height:60px
}

.u25_original {
    background-image: url('../2.0首页_files/u18_original.png');
}

.u25_container {
    position:absolute;
    left:187px;
    top:758px;
    width:50px;
    height:50px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u26 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:187px;
    top:758px;
    width:50px;
    height:50px
}

.u27 {
    position:absolute;
    left:247px;
    top:774px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:248px;
    top:759px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:248px;
    top:796px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_original {
    background-image: url('../2.0首页_files/u30_original.png');
}

.u30_container {
    position:absolute;
    left:439px;
    top:758px;
    width:49px;
    height:53px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:49px;
    height:53px;
}

.u31 {
    position:absolute;
    left:2px;
    top:18px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:439px;
    top:758px;
    width:49px;
    height:53px
}

.u32_original {
    background-image: url('../2.0首页_files/u30_original.png');
}

.u32_container {
    position:absolute;
    left:439px;
    top:698px;
    width:49px;
    height:53px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:49px;
    height:53px;
}

.u33 {
    position:absolute;
    left:2px;
    top:18px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:439px;
    top:698px;
    width:49px;
    height:53px
}

.u34_original {
    background-image: url('../2.0首页_files/u30_original.png');
}

.u34_container {
    position:absolute;
    left:439px;
    top:818px;
    width:49px;
    height:53px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:49px;
    height:53px;
}

.u35 {
    position:absolute;
    left:2px;
    top:18px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:439px;
    top:818px;
    width:49px;
    height:53px
}

.u36_original {
    background-image: url('../2.0首页_files/u36_original.png');
}

.u36_container {
    position:absolute;
    left:188px;
    top:504px;
    width:142px;
    height:87px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:142px;
    height:87px;
}

.u37 {
    position:absolute;
    left:2px;
    top:36px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:188px;
    top:504px;
    width:142px;
    height:87px
}

.u38_original {
    background-image: url('../2.0首页_files/u38_original.png');
}

.u38_container {
    position:absolute;
    left:340px;
    top:504px;
    width:148px;
    height:87px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:148px;
    height:87px;
}

.u39 {
    position:absolute;
    left:2px;
    top:36px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:340px;
    top:504px;
    width:148px;
    height:87px
}

.u40_original {
    background-image: url('../2.0首页_files/u36_original.png');
}

.u40_container {
    position:absolute;
    left:188px;
    top:597px;
    width:142px;
    height:87px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:142px;
    height:87px;
}

.u41 {
    position:absolute;
    left:2px;
    top:36px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:188px;
    top:597px;
    width:142px;
    height:87px
}

.u42_original {
    background-image: url('../2.0首页_files/u38_original.png');
}

.u42_container {
    position:absolute;
    left:340px;
    top:597px;
    width:148px;
    height:87px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:148px;
    height:87px;
}

.u43 {
    position:absolute;
    left:2px;
    top:36px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:340px;
    top:597px;
    width:148px;
    height:87px
}

.u44_original {
    background-image: url('../2.0首页_files/u44_original.png');
}

.u44_container {
    position:absolute;
    left:665px;
    top:420px;
    width:235px;
    height:130px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:241px;
    height:136px;
}

.u45 {
    position:absolute;
    left:2px;
    top:12px;
    width:231px;
    height:105px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:665px;
    top:420px;
    width:235px;
    height:130px
}

.u46_start {
    background-image: url('../2.0首页_files/u46_start.png');
}

.u46_start {
    position:absolute;
    left:520px;
    top:435px;
    width:10px;
    height:20px;
}

.u46_line {
    background-image: url('../2.0首页_files/u46_line.png');
}

.u46_line {
    position:absolute;
    left:520px;
    top:444px;
    width:144px;
    height:3px;
}

.u46 {
    position:absolute;
    left:520px;
    top:444px;
    width:144px;
    height:3px
}

.u47_original {
    background-image: url('../2.0首页_files/u47_original.png');
}

.u47_container {
    position:absolute;
    left:681px;
    top:580px;
    width:179px;
    height:50px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:185px;
    height:56px;
}

.u48 {
    position:absolute;
    left:2px;
    top:4px;
    width:175px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:681px;
    top:580px;
    width:179px;
    height:50px
}

.u49_start {
    background-image: url('../2.0首页_files/u49_start.png');
}

.u49_start {
    position:absolute;
    left:510px;
    top:585px;
    width:10px;
    height:20px;
}

.u49_line {
    background-image: url('../2.0首页_files/u49_line.png');
}

.u49_line {
    position:absolute;
    left:510px;
    top:594px;
    width:160px;
    height:3px;
}

.u49 {
    position:absolute;
    left:510px;
    top:594px;
    width:160px;
    height:3px
}

.u50_original {
    background-image: url('../2.0首页_files/u1_original.png');
}

.u50_container {
    position:absolute;
    left:970px;
    top:300px;
    width:404px;
    height:752px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:404px;
    height:752px;
}

.u51 {
    position:absolute;
    left:2px;
    top:368px;
    width:400px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:970px;
    top:300px;
    width:404px;
    height:752px
}

.u52_original {
    background-image: url('../2.0首页_files/u3_original.png');
}

.u52_container {
    position:absolute;
    left:1012px;
    top:435px;
    width:320px;
    height:43px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:49px;
}

.u53 {
    position:absolute;
    left:2px;
    top:10px;
    width:316px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:1012px;
    top:435px;
    width:320px;
    height:43px
}

.u54_original {
    background-image: url('../2.0首页_files/u54_original.png');
}

.u54_container {
    position:absolute;
    left:1015px;
    top:441px;
    width:65px;
    height:32px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:32px;
}

.u55 {
    position:absolute;
    left:2px;
    top:8px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:1015px;
    top:441px;
    width:65px;
    height:32px
}

.u56 {
    position:absolute;
    left:1016px;
    top:448px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_original {
    background-image: url('../2.0首页_files/u16_original.png');
}

.u57_container {
    position:absolute;
    left:1012px;
    top:625px;
    width:320px;
    height:60px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:66px;
}

.u58 {
    position:absolute;
    left:2px;
    top:22px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:1012px;
    top:625px;
    width:320px;
    height:60px
}

.u59 {
    position:absolute;
    left:1029px;
    top:646px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_original {
    background-image: url('../2.0首页_files/u30_original.png');
}

.u60_container {
    position:absolute;
    left:1285px;
    top:629px;
    width:49px;
    height:53px;
}

#u60_img {
    position:absolute;
    left:0px;
    top:0px;
    width:49px;
    height:53px;
}

.u61 {
    position:absolute;
    left:2px;
    top:18px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:1285px;
    top:629px;
    width:49px;
    height:53px
}

.u62_original {
    background-image: url('../2.0首页_files/u62_original.png');
}

.u62_container {
    position:absolute;
    left:1144px;
    top:635px;
    width:71px;
    height:20px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:1144px;
    top:635px;
    width:71px;
    height:20px
}

.u64_original {
    background-image: url('../2.0首页_files/u62_original.png');
}

.u64_container {
    position:absolute;
    left:1219px;
    top:635px;
    width:71px;
    height:20px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:1219px;
    top:635px;
    width:71px;
    height:20px
}

.u66_original {
    background-image: url('../2.0首页_files/u16_original.png');
}

.u66_container {
    position:absolute;
    left:1012px;
    top:685px;
    width:320px;
    height:60px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:66px;
}

.u67 {
    position:absolute;
    left:2px;
    top:22px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:1012px;
    top:685px;
    width:320px;
    height:60px
}

.u68 {
    position:absolute;
    left:1029px;
    top:706px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_original {
    background-image: url('../2.0首页_files/u30_original.png');
}

.u69_container {
    position:absolute;
    left:1285px;
    top:689px;
    width:49px;
    height:53px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:49px;
    height:53px;
}

.u70 {
    position:absolute;
    left:2px;
    top:18px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:1285px;
    top:689px;
    width:49px;
    height:53px
}

.u71_original {
    background-image: url('../2.0首页_files/u62_original.png');
}

.u71_container {
    position:absolute;
    left:1144px;
    top:705px;
    width:71px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:1144px;
    top:705px;
    width:71px;
    height:20px
}

.u73_original {
    background-image: url('../2.0首页_files/u62_original.png');
}

.u73_container {
    position:absolute;
    left:1219px;
    top:705px;
    width:71px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:1219px;
    top:705px;
    width:71px;
    height:20px
}

.u75_original {
    background-image: url('../2.0首页_files/u16_original.png');
}

.u75_container {
    position:absolute;
    left:1012px;
    top:745px;
    width:320px;
    height:60px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:66px;
}

.u76 {
    position:absolute;
    left:2px;
    top:22px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:1012px;
    top:745px;
    width:320px;
    height:60px
}

.u77 {
    position:absolute;
    left:1029px;
    top:766px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_original {
    background-image: url('../2.0首页_files/u30_original.png');
}

.u78_container {
    position:absolute;
    left:1285px;
    top:749px;
    width:49px;
    height:53px;
}

#u78_img {
    position:absolute;
    left:0px;
    top:0px;
    width:49px;
    height:53px;
}

.u79 {
    position:absolute;
    left:2px;
    top:18px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:1285px;
    top:749px;
    width:49px;
    height:53px
}

.u80_original {
    background-image: url('../2.0首页_files/u62_original.png');
}

.u80_container {
    position:absolute;
    left:1144px;
    top:765px;
    width:71px;
    height:20px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u81 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:1144px;
    top:765px;
    width:71px;
    height:20px
}

.u82_original {
    background-image: url('../2.0首页_files/u62_original.png');
}

.u82_container {
    position:absolute;
    left:1219px;
    top:765px;
    width:71px;
    height:20px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u83 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:1219px;
    top:765px;
    width:71px;
    height:20px
}

.u84_original {
    background-image: url('../2.0首页_files/u16_original.png');
}

.u84_container {
    position:absolute;
    left:1012px;
    top:805px;
    width:320px;
    height:60px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:66px;
}

.u85 {
    position:absolute;
    left:2px;
    top:22px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:1012px;
    top:805px;
    width:320px;
    height:60px
}

.u86 {
    position:absolute;
    left:1029px;
    top:826px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_original {
    background-image: url('../2.0首页_files/u30_original.png');
}

.u87_container {
    position:absolute;
    left:1285px;
    top:809px;
    width:49px;
    height:53px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:49px;
    height:53px;
}

.u88 {
    position:absolute;
    left:2px;
    top:18px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:1285px;
    top:809px;
    width:49px;
    height:53px
}

.u89_original {
    background-image: url('../2.0首页_files/u62_original.png');
}

.u89_container {
    position:absolute;
    left:1144px;
    top:825px;
    width:71px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:1144px;
    top:825px;
    width:71px;
    height:20px
}

.u91_original {
    background-image: url('../2.0首页_files/u62_original.png');
}

.u91_container {
    position:absolute;
    left:1219px;
    top:825px;
    width:71px;
    height:20px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:1219px;
    top:825px;
    width:71px;
    height:20px
}

.u93 {
    position:absolute;
    left:1147px;
    top:662px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_container {
    position:absolute;
    left:1012px;
    top:863px;
    width:321px;
    height:53px;
}

#u94_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:53px;
}

.u95 {
    position:absolute;
    left:2px;
    top:18px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:1012px;
    top:863px;
    width:321px;
    height:53px
}

.u96 {
    position:absolute;
    left:1029px;
    top:899px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:1078px;
    top:900px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:1144px;
    top:900px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:1224px;
    top:900px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:1284px;
    top:900px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_original {
    background-image: url('../2.0首页_files/u101_original.png');
}

.u101_container {
    position:absolute;
    left:1016px;
    top:485px;
    width:312px;
    height:130px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:318px;
    height:136px;
}

.u102 {
    position:absolute;
    left:2px;
    top:57px;
    width:308px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:1016px;
    top:485px;
    width:312px;
    height:130px
}

.u103_original {
    background-image: url('../2.0首页_files/u18_original.png');
}

.u103_container {
    position:absolute;
    left:1030px;
    top:490px;
    width:50px;
    height:50px;
}

#u103_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u104 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:1030px;
    top:490px;
    width:50px;
    height:50px
}

.u105_original {
    background-image: url('../2.0首页_files/u18_original.png');
}

.u105_container {
    position:absolute;
    left:1100px;
    top:490px;
    width:50px;
    height:50px;
}

#u105_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u106 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:1100px;
    top:490px;
    width:50px;
    height:50px
}

.u107_original {
    background-image: url('../2.0首页_files/u18_original.png');
}

.u107_container {
    position:absolute;
    left:1170px;
    top:490px;
    width:50px;
    height:50px;
}

#u107_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u108 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:1170px;
    top:490px;
    width:50px;
    height:50px
}

.u109_original {
    background-image: url('../2.0首页_files/u18_original.png');
}

.u109_container {
    position:absolute;
    left:1240px;
    top:490px;
    width:50px;
    height:50px;
}

#u109_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u110 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:1240px;
    top:490px;
    width:50px;
    height:50px
}

.u111 {
    position:absolute;
    left:1030px;
    top:551px;
    width:280px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:1230px;
    top:585px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u113 {
    position:absolute;
    left:1834px;
    top:905px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_original {
    background-image: url('../2.0首页_files/u1_original.png');
}

.u114_container {
    position:absolute;
    left:1520px;
    top:300px;
    width:404px;
    height:752px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:404px;
    height:752px;
}

.u115 {
    position:absolute;
    left:2px;
    top:368px;
    width:400px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:1520px;
    top:300px;
    width:404px;
    height:752px
}

.u116_original {
    background-image: url('../2.0首页_files/u3_original.png');
}

.u116_container {
    position:absolute;
    left:1562px;
    top:435px;
    width:320px;
    height:43px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:49px;
}

.u117 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:1562px;
    top:435px;
    width:320px;
    height:43px
}

.u118_original {
    background-image: url('../2.0首页_files/u5_original.png');
}

.u118_container {
    position:absolute;
    left:1672px;
    top:442px;
    width:97px;
    height:30px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:36px;
}

.u119 {
    position:absolute;
    left:2px;
    top:8px;
    width:93px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:1672px;
    top:442px;
    width:97px;
    height:30px
}

.u120_original {
    background-image: url('../2.0首页_files/u7_original.png');
}

.u120_container {
    position:absolute;
    left:1771px;
    top:441px;
    width:103px;
    height:30px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:36px;
}

.u121 {
    position:absolute;
    left:2px;
    top:8px;
    width:99px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:1771px;
    top:441px;
    width:103px;
    height:30px
}

.u122_original {
    background-image: url('../2.0首页_files/u7_original.png');
}

.u122_container {
    position:absolute;
    left:1569px;
    top:442px;
    width:103px;
    height:30px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:36px;
}

.u123 {
    position:absolute;
    left:2px;
    top:8px;
    width:99px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:1569px;
    top:442px;
    width:103px;
    height:30px
}

.u124_container {
    position:absolute;
    left:1562px;
    top:868px;
    width:321px;
    height:53px;
}

#u124_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:53px;
}

.u125 {
    position:absolute;
    left:2px;
    top:18px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:1562px;
    top:868px;
    width:321px;
    height:53px
}

.u126 {
    position:absolute;
    left:1579px;
    top:904px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:1628px;
    top:905px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:1694px;
    top:905px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:1774px;
    top:905px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:1834px;
    top:905px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_original {
    background-image: url('../2.0首页_files/u16_original.png');
}

.u131_container {
    position:absolute;
    left:1562px;
    top:705px;
    width:320px;
    height:60px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:66px;
}

.u132 {
    position:absolute;
    left:2px;
    top:22px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:1562px;
    top:705px;
    width:320px;
    height:60px
}

.u133_original {
    background-image: url('../2.0首页_files/u18_original.png');
}

.u133_container {
    position:absolute;
    left:1571px;
    top:709px;
    width:50px;
    height:50px;
}

#u133_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u134 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:1571px;
    top:709px;
    width:50px;
    height:50px
}

.u135 {
    position:absolute;
    left:1631px;
    top:725px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:1632px;
    top:709px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:1632px;
    top:746px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_original {
    background-image: url('../2.0首页_files/u16_original.png');
}

.u138_container {
    position:absolute;
    left:1562px;
    top:765px;
    width:320px;
    height:60px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:66px;
}

.u139 {
    position:absolute;
    left:2px;
    top:22px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:1562px;
    top:765px;
    width:320px;
    height:60px
}

.u140_original {
    background-image: url('../2.0首页_files/u18_original.png');
}

.u140_container {
    position:absolute;
    left:1571px;
    top:769px;
    width:50px;
    height:50px;
}

#u140_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u141 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:1571px;
    top:769px;
    width:50px;
    height:50px
}

.u142 {
    position:absolute;
    left:1631px;
    top:785px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:1632px;
    top:770px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:1632px;
    top:807px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_original {
    background-image: url('../2.0首页_files/u30_original.png');
}

.u145_container {
    position:absolute;
    left:1823px;
    top:769px;
    width:49px;
    height:53px;
}

#u145_img {
    position:absolute;
    left:0px;
    top:0px;
    width:49px;
    height:53px;
}

.u146 {
    position:absolute;
    left:2px;
    top:18px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:1823px;
    top:769px;
    width:49px;
    height:53px
}

.u147_original {
    background-image: url('../2.0首页_files/u30_original.png');
}

.u147_container {
    position:absolute;
    left:1823px;
    top:709px;
    width:49px;
    height:53px;
}

#u147_img {
    position:absolute;
    left:0px;
    top:0px;
    width:49px;
    height:53px;
}

.u148 {
    position:absolute;
    left:2px;
    top:18px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:1823px;
    top:709px;
    width:49px;
    height:53px
}

.u149_original {
    background-image: url('../2.0首页_files/u30_original.png');
}

.u149_container {
    position:absolute;
    left:1823px;
    top:829px;
    width:49px;
    height:53px;
}

#u149_img {
    position:absolute;
    left:0px;
    top:0px;
    width:49px;
    height:53px;
}

.u150 {
    position:absolute;
    left:2px;
    top:18px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:1823px;
    top:829px;
    width:49px;
    height:53px
}

.u151_original {
    background-image: url('../2.0首页_files/u36_original.png');
}

.u151_container {
    position:absolute;
    left:1572px;
    top:515px;
    width:142px;
    height:87px;
}

#u151_img {
    position:absolute;
    left:0px;
    top:0px;
    width:142px;
    height:87px;
}

.u152 {
    position:absolute;
    left:2px;
    top:36px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:1572px;
    top:515px;
    width:142px;
    height:87px
}

.u153_original {
    background-image: url('../2.0首页_files/u38_original.png');
}

.u153_container {
    position:absolute;
    left:1724px;
    top:515px;
    width:148px;
    height:87px;
}

#u153_img {
    position:absolute;
    left:0px;
    top:0px;
    width:148px;
    height:87px;
}

.u154 {
    position:absolute;
    left:2px;
    top:36px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:1724px;
    top:515px;
    width:148px;
    height:87px
}

.u155_original {
    background-image: url('../2.0首页_files/u36_original.png');
}

.u155_container {
    position:absolute;
    left:1572px;
    top:608px;
    width:142px;
    height:87px;
}

#u155_img {
    position:absolute;
    left:0px;
    top:0px;
    width:142px;
    height:87px;
}

.u156 {
    position:absolute;
    left:2px;
    top:36px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:1572px;
    top:608px;
    width:142px;
    height:87px
}

.u157_original {
    background-image: url('../2.0首页_files/u38_original.png');
}

.u157_container {
    position:absolute;
    left:1724px;
    top:608px;
    width:148px;
    height:87px;
}

#u157_img {
    position:absolute;
    left:0px;
    top:0px;
    width:148px;
    height:87px;
}

.u158 {
    position:absolute;
    left:2px;
    top:36px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:1724px;
    top:608px;
    width:148px;
    height:87px
}

.u159_original {
    background-image: url('../2.0首页_files/u44_original.png');
}

.u159_container {
    position:absolute;
    left:2049px;
    top:431px;
    width:235px;
    height:130px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:241px;
    height:136px;
}

.u160 {
    position:absolute;
    left:2px;
    top:12px;
    width:231px;
    height:105px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:2049px;
    top:431px;
    width:235px;
    height:130px
}

.u161_start {
    background-image: url('../2.0首页_files/u161_start.png');
}

.u161_start {
    position:absolute;
    left:1904px;
    top:446px;
    width:10px;
    height:20px;
}

.u161_line {
    background-image: url('../2.0首页_files/u161_line.png');
}

.u161_line {
    position:absolute;
    left:1904px;
    top:455px;
    width:144px;
    height:3px;
}

.u161 {
    position:absolute;
    left:1904px;
    top:455px;
    width:144px;
    height:3px
}

.u162_original {
    background-image: url('../2.0首页_files/u47_original.png');
}

.u162_container {
    position:absolute;
    left:2065px;
    top:591px;
    width:179px;
    height:50px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:185px;
    height:56px;
}

.u163 {
    position:absolute;
    left:2px;
    top:4px;
    width:175px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162 {
    position:absolute;
    left:2065px;
    top:591px;
    width:179px;
    height:50px
}

.u164_start {
    background-image: url('../2.0首页_files/u164_start.png');
}

.u164_start {
    position:absolute;
    left:1894px;
    top:596px;
    width:10px;
    height:20px;
}

.u164_line {
    background-image: url('../2.0首页_files/u164_line.png');
}

.u164_line {
    position:absolute;
    left:1894px;
    top:605px;
    width:160px;
    height:3px;
}

.u164 {
    position:absolute;
    left:1894px;
    top:605px;
    width:160px;
    height:3px
}

.u165_original {
    background-image: url('../2.0首页_files/u165_original.png');
}

.u165_container {
    position:absolute;
    left:1562px;
    top:478px;
    width:320px;
    height:35px;
}

#u165_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:41px;
}

.u166 {
    position:absolute;
    left:2px;
    top:10px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:1562px;
    top:478px;
    width:320px;
    height:35px
}

.u167_original {
    background-image: url('../2.0首页_files/u167_original.png');
}

.u167_container {
    position:absolute;
    left:1601px;
    top:486px;
    width:203px;
    height:22px;
}

#u167_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:209px;
    height:28px;
}

.u168 {
    position:absolute;
    left:2px;
    top:3px;
    width:199px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:1601px;
    top:486px;
    width:203px;
    height:22px
}

.u169 {
    position:absolute;
    left:1814px;
    top:486px;
    width:61px;
    height:22px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u170_original {
    background-image: url('../2.0首页_files/u47_original.png');
}

.u170_container {
    position:absolute;
    left:1610px;
    top:210px;
    width:179px;
    height:50px;
}

#u170_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:185px;
    height:56px;
}

.u171 {
    position:absolute;
    left:2px;
    top:4px;
    width:175px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:1610px;
    top:210px;
    width:179px;
    height:50px
}

