body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../开始广播_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:125px;
    width:404px;
    height:752px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:404px;
    height:752px;
}

.u1 {
    position:absolute;
    left:2px;
    top:368px;
    width:400px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:120px;
    top:125px;
    width:404px;
    height:752px
}

.u2_original {
    background-image: url('../开始广播_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:162px;
    top:260px;
    width:320px;
    height:43px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:49px;
}

.u3 {
    position:absolute;
    left:2px;
    top:10px;
    width:316px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:162px;
    top:260px;
    width:320px;
    height:43px
}

.u4_original {
    background-image: url('../开始广播_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:609px;
    top:376px;
    width:235px;
    height:130px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:241px;
    height:136px;
}

.u5 {
    position:absolute;
    left:2px;
    top:54px;
    width:231px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:609px;
    top:376px;
    width:235px;
    height:130px
}

.u6_start {
    background-image: url('../开始广播_files/u6_start.png');
}

.u6_start {
    position:absolute;
    left:464px;
    top:391px;
    width:10px;
    height:20px;
}

.u6_line {
    background-image: url('../开始广播_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:464px;
    top:400px;
    width:144px;
    height:3px;
}

.u6 {
    position:absolute;
    left:464px;
    top:400px;
    width:144px;
    height:3px
}

.u7_original {
    background-image: url('../开始广播_files/u0_original.png');
}

.u7_container {
    position:absolute;
    left:877px;
    top:144px;
    width:404px;
    height:752px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:404px;
    height:752px;
}

.u8 {
    position:absolute;
    left:2px;
    top:368px;
    width:400px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:877px;
    top:144px;
    width:404px;
    height:752px
}

.u9_original {
    background-image: url('../开始广播_files/u2_original.png');
}

.u9_container {
    position:absolute;
    left:919px;
    top:279px;
    width:320px;
    height:43px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:49px;
}

.u10 {
    position:absolute;
    left:2px;
    top:10px;
    width:316px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:919px;
    top:279px;
    width:320px;
    height:43px
}

.u11_container {
    position:absolute;
    left:162px;
    top:693px;
    width:321px;
    height:53px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:53px;
}

.u12 {
    position:absolute;
    left:2px;
    top:18px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:162px;
    top:693px;
    width:321px;
    height:53px
}

.u13 {
    position:absolute;
    left:179px;
    top:729px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:229px;
    top:732px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:297px;
    top:732px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:373px;
    top:732px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:434px;
    top:730px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:274px;
    top:336px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19 {
    position:absolute;
    left:186px;
    top:340px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:224px;
    top:633px;
    width:180px;
    height:36px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21_original {
    background-image: url('../开始广播_files/u21_original.png');
}

.u21_container {
    position:absolute;
    left:234px;
    top:26px;
    width:179px;
    height:50px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:185px;
    height:56px;
}

.u22 {
    position:absolute;
    left:2px;
    top:4px;
    width:175px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:234px;
    top:26px;
    width:179px;
    height:50px
}

.u23_original {
    background-image: url('../开始广播_files/u21_original.png');
}

.u23_container {
    position:absolute;
    left:974px;
    top:26px;
    width:179px;
    height:50px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:185px;
    height:56px;
}

.u24 {
    position:absolute;
    left:2px;
    top:14px;
    width:175px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:974px;
    top:26px;
    width:179px;
    height:50px
}

.u25 {
    position:absolute;
    left:1154px;
    top:287px;
    width:75px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26_original {
    background-image: url('../开始广播_files/u21_original.png');
}

.u26_container {
    position:absolute;
    left:1385px;
    top:736px;
    width:179px;
    height:50px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:185px;
    height:56px;
}

.u27 {
    position:absolute;
    left:2px;
    top:14px;
    width:175px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:1385px;
    top:736px;
    width:179px;
    height:50px
}

.u28_start {
    background-image: url('../开始广播_files/u28_start.png');
}

.u28_start {
    position:absolute;
    left:1214px;
    top:741px;
    width:10px;
    height:20px;
}

.u28_line {
    background-image: url('../开始广播_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:1214px;
    top:750px;
    width:160px;
    height:3px;
}

.u28 {
    position:absolute;
    left:1214px;
    top:750px;
    width:160px;
    height:3px
}

.u29_original {
    background-image: url('../开始广播_files/u29_original.png');
}

.u29_container {
    position:absolute;
    left:170px;
    top:266px;
    width:65px;
    height:32px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:32px;
}

.u30 {
    position:absolute;
    left:2px;
    top:8px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:170px;
    top:266px;
    width:65px;
    height:32px
}

.u31 {
    position:absolute;
    left:171px;
    top:273px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:186px;
    top:390px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:274px;
    top:386px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34_original {
    background-image: url('../开始广播_files/u34_original.png');
}

.u34_container {
    position:absolute;
    left:924px;
    top:326px;
    width:310px;
    height:50px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:56px;
}

.u35 {
    position:absolute;
    left:2px;
    top:17px;
    width:306px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:924px;
    top:326px;
    width:310px;
    height:50px
}

.u36_original {
    background-image: url('../开始广播_files/u36_original.png');
}

.u36_container {
    position:absolute;
    left:924px;
    top:386px;
    width:310px;
    height:110px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:316px;
    height:116px;
}

.u37 {
    position:absolute;
    left:2px;
    top:47px;
    width:306px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:924px;
    top:386px;
    width:310px;
    height:110px
}

.u38_original {
    background-image: url('../开始广播_files/u38_original.png');
}

.u38_container {
    position:absolute;
    left:974px;
    top:512px;
    width:43px;
    height:200px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:43px;
    height:200px;
}

.u39 {
    position:absolute;
    left:2px;
    top:92px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:974px;
    top:512px;
    width:43px;
    height:200px
}

.u40_original {
    background-image: url('../开始广播_files/u40_original.png');
}

.u40_container {
    position:absolute;
    left:928px;
    top:508px;
    width:45px;
    height:238px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:45px;
    height:238px;
}

.u41 {
    position:absolute;
    left:2px;
    top:111px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:928px;
    top:508px;
    width:45px;
    height:238px
}

.u42_original {
    background-image: url('../开始广播_files/u42_original.png');
}

.u42_container {
    position:absolute;
    left:929px;
    top:708px;
    width:88px;
    height:40px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:46px;
}

.u43 {
    position:absolute;
    left:2px;
    top:12px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:929px;
    top:708px;
    width:88px;
    height:40px
}

.u44_original {
    background-image: url('../开始广播_files/u38_original.png');
}

.u44_container {
    position:absolute;
    left:1064px;
    top:512px;
    width:43px;
    height:200px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:43px;
    height:200px;
}

.u45 {
    position:absolute;
    left:2px;
    top:92px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:1064px;
    top:512px;
    width:43px;
    height:200px
}

.u46_original {
    background-image: url('../开始广播_files/u40_original.png');
}

.u46_container {
    position:absolute;
    left:1018px;
    top:508px;
    width:45px;
    height:238px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:45px;
    height:238px;
}

.u47 {
    position:absolute;
    left:2px;
    top:111px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:1018px;
    top:508px;
    width:45px;
    height:238px
}

.u48_original {
    background-image: url('../开始广播_files/u48_original.png');
}

.u48_container {
    position:absolute;
    left:1027px;
    top:708px;
    width:78px;
    height:40px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:46px;
}

.u49 {
    position:absolute;
    left:2px;
    top:12px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:1027px;
    top:708px;
    width:78px;
    height:40px
}

.u50_start {
    background-image: url('../开始广播_files/u50_start.png');
}

.u50_start {
    position:absolute;
    left:934px;
    top:354px;
    width:10px;
    height:20px;
}

.u50_end {
    background-image: url('../开始广播_files/u50_end.png');
}

.u50_end {
    position:absolute;
    left:1215px;
    top:354px;
    width:10px;
    height:20px;
}

.u50_line {
    background-image: url('../开始广播_files/u50_line.png');
}

.u50_line {
    position:absolute;
    left:934px;
    top:361px;
    width:290px;
    height:7px;
}

.u50 {
    position:absolute;
    left:934px;
    top:361px;
    width:290px;
    height:7px
}

.u51 {
    position:absolute;
    left:934px;
    top:396px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:1154px;
    top:391px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53 {
    position:absolute;
    left:934px;
    top:431px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:1154px;
    top:426px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u55 {
    position:absolute;
    left:934px;
    top:466px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:1154px;
    top:461px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57_start {
    background-image: url('../开始广播_files/u57_start.png');
}

.u57_start {
    position:absolute;
    left:974px;
    top:391px;
    width:10px;
    height:20px;
}

.u57_end {
    background-image: url('../开始广播_files/u57_end.png');
}

.u57_end {
    position:absolute;
    left:1135px;
    top:391px;
    width:10px;
    height:20px;
}

.u57_line {
    background-image: url('../开始广播_files/u57_line.png');
}

.u57_line {
    position:absolute;
    left:974px;
    top:398px;
    width:170px;
    height:7px;
}

.u57 {
    position:absolute;
    left:974px;
    top:398px;
    width:170px;
    height:7px
}

.u58_original {
    background-image: url('../开始广播_files/u58_original.png');
}

.u58_container {
    position:absolute;
    left:1128px;
    top:652px;
    width:96px;
    height:96px;
}

#u58_img {
    position:absolute;
    left:0px;
    top:0px;
    width:96px;
    height:96px;
}

.u59 {
    position:absolute;
    left:2px;
    top:40px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:1128px;
    top:652px;
    width:96px;
    height:96px
}

.u60_original {
    background-image: url('../开始广播_files/u60_original.png');
}

.u60_container {
    position:absolute;
    left:1114px;
    top:512px;
    width:120px;
    height:130px;
}

#u60_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:130px;
}

.u61 {
    position:absolute;
    left:2px;
    top:57px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:1114px;
    top:512px;
    width:120px;
    height:130px
}

.u62_original {
    background-image: url('../开始广播_files/u62_original.png');
}

.u62_container {
    position:absolute;
    left:172px;
    top:431px;
    width:302px;
    height:185px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:308px;
    height:191px;
}

.u63 {
    position:absolute;
    left:2px;
    top:84px;
    width:298px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:172px;
    top:431px;
    width:302px;
    height:185px
}

.u64 {
    position:absolute;
    left:178px;
    top:441px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:398px;
    top:436px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u66 {
    position:absolute;
    left:178px;
    top:476px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:398px;
    top:471px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u68 {
    position:absolute;
    left:178px;
    top:511px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:398px;
    top:506px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u70_start {
    background-image: url('../开始广播_files/u70_start.png');
}

.u70_start {
    position:absolute;
    left:218px;
    top:436px;
    width:10px;
    height:20px;
}

.u70_end {
    background-image: url('../开始广播_files/u70_end.png');
}

.u70_end {
    position:absolute;
    left:379px;
    top:436px;
    width:10px;
    height:20px;
}

.u70_line {
    background-image: url('../开始广播_files/u70_line.png');
}

.u70_line {
    position:absolute;
    left:218px;
    top:443px;
    width:170px;
    height:7px;
}

.u70 {
    position:absolute;
    left:218px;
    top:443px;
    width:170px;
    height:7px
}

.u71_original {
    background-image: url('../开始广播_files/u0_original.png');
}

.u71_container {
    position:absolute;
    left:1616px;
    top:158px;
    width:404px;
    height:752px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:404px;
    height:752px;
}

.u72 {
    position:absolute;
    left:2px;
    top:368px;
    width:400px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:1616px;
    top:158px;
    width:404px;
    height:752px
}

.u73_original {
    background-image: url('../开始广播_files/u2_original.png');
}

.u73_container {
    position:absolute;
    left:1658px;
    top:293px;
    width:320px;
    height:43px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:49px;
}

.u74 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:1658px;
    top:293px;
    width:320px;
    height:43px
}

.u75_container {
    position:absolute;
    left:1658px;
    top:726px;
    width:321px;
    height:53px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:53px;
}

.u76 {
    position:absolute;
    left:2px;
    top:18px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:1658px;
    top:726px;
    width:321px;
    height:53px
}

.u77 {
    position:absolute;
    left:1675px;
    top:762px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:1725px;
    top:765px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:1793px;
    top:765px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:1869px;
    top:765px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:1930px;
    top:763px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:1680px;
    top:302px;
    width:280px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:1770px;
    top:369px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u84 {
    position:absolute;
    left:1682px;
    top:373px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:1682px;
    top:423px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:1770px;
    top:478px;
    width:180px;
    height:155px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u87 {
    position:absolute;
    left:1682px;
    top:478px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:1720px;
    top:666px;
    width:180px;
    height:36px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u89_original {
    background-image: url('../开始广播_files/u21_original.png');
}

.u89_container {
    position:absolute;
    left:1730px;
    top:59px;
    width:179px;
    height:50px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:185px;
    height:56px;
}

.u90 {
    position:absolute;
    left:2px;
    top:14px;
    width:175px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:1730px;
    top:59px;
    width:179px;
    height:50px
}

.u91 {
    position:absolute;
    left:1770px;
    top:416px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

