body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../搜索_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:116px;
    top:269px;
    width:404px;
    height:752px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:404px;
    height:752px;
}

.u1 {
    position:absolute;
    left:2px;
    top:368px;
    width:400px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:116px;
    top:269px;
    width:404px;
    height:752px
}

.u2_original {
    background-image: url('../搜索_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:158px;
    top:403px;
    width:320px;
    height:480px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px;
}

.u3 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:158px;
    top:403px;
    width:320px;
    height:480px
}

.u4 {
    position:absolute;
    left:190px;
    top:840px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_original {
    background-image: url('../搜索_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:158px;
    top:404px;
    width:320px;
    height:43px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:49px;
}

.u6 {
    position:absolute;
    left:2px;
    top:10px;
    width:316px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:158px;
    top:404px;
    width:320px;
    height:43px
}

.u7_original {
    background-image: url('../搜索_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:158px;
    top:835px;
    width:321px;
    height:49px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:49px;
}

.u8 {
    position:absolute;
    left:2px;
    top:16px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:158px;
    top:835px;
    width:321px;
    height:49px
}

.u9 {
    position:absolute;
    left:178px;
    top:480px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_original {
    background-image: url('../搜索_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:160px;
    top:509px;
    width:312px;
    height:1px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:318px;
    height:7px;
}

.u11 {
    position:absolute;
    left:2px;
    top:-8px;
    width:308px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:160px;
    top:509px;
    width:312px;
    height:1px
}

.u12_container {
    position:absolute;
    left:158px;
    top:443px;
    width:320px;
    height:44px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:44px;
}

.u13 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:158px;
    top:443px;
    width:320px;
    height:44px
}

.u14 {
    position:absolute;
    left:176px;
    top:457px;
    width:220px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_original {
    background-image: url('../搜索_files/u15_original.png');
}

.u15_container {
    position:absolute;
    left:157px;
    top:486px;
    width:320px;
    height:45px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:51px;
}

.u16 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:157px;
    top:486px;
    width:320px;
    height:45px
}

.u17_original {
    background-image: url('../搜索_files/u15_original.png');
}

.u17_container {
    position:absolute;
    left:157px;
    top:531px;
    width:320px;
    height:45px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:51px;
}

.u18 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:157px;
    top:531px;
    width:320px;
    height:45px
}

.u19_original {
    background-image: url('../搜索_files/u15_original.png');
}

.u19_container {
    position:absolute;
    left:157px;
    top:575px;
    width:320px;
    height:45px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:51px;
}

.u20 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:157px;
    top:575px;
    width:320px;
    height:45px
}

.u21_original {
    background-image: url('../搜索_files/u21_original.png');
}

.u21_container {
    position:absolute;
    left:158px;
    top:620px;
    width:320px;
    height:215px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:215px;
}

.u22 {
    position:absolute;
    left:2px;
    top:100px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:158px;
    top:620px;
    width:320px;
    height:215px
}

.u23 {
    position:absolute;
    left:180px;
    top:500px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:180px;
    top:544px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:180px;
    top:590px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_container {
    position:absolute;
    left:158px;
    top:835px;
    width:321px;
    height:49px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:49px;
}

.u27 {
    position:absolute;
    left:2px;
    top:16px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:158px;
    top:835px;
    width:321px;
    height:49px
}

.u28 {
    position:absolute;
    left:176px;
    top:869px;
    width:334px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

