body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../1.3忘记密码_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:116px;
    top:269px;
    width:404px;
    height:752px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:404px;
    height:752px;
}

.u1 {
    position:absolute;
    left:2px;
    top:368px;
    width:400px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:116px;
    top:269px;
    width:404px;
    height:752px
}

.u2_original {
    background-image: url('../1.3忘记密码_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:158px;
    top:403px;
    width:320px;
    height:480px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px;
}

.u3 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:158px;
    top:403px;
    width:320px;
    height:480px
}

.u4_original {
    background-image: url('../1.3忘记密码_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:161px;
    top:465px;
    width:312px;
    height:45px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:318px;
    height:51px;
}

.u5 {
    position:absolute;
    left:2px;
    top:14px;
    width:308px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:161px;
    top:465px;
    width:312px;
    height:45px
}

.u6_original {
    background-image: url('../1.3忘记密码_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:158px;
    top:404px;
    width:320px;
    height:43px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:49px;
}

.u7 {
    position:absolute;
    left:2px;
    top:10px;
    width:316px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:158px;
    top:404px;
    width:320px;
    height:43px
}

.u8 {
    position:absolute;
    left:1639px;
    top:546px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:181px;
    top:480px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:278px;
    top:476px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11_original {
    background-image: url('../1.3忘记密码_files/u11_original.png');
}

.u11_container {
    position:absolute;
    left:161px;
    top:511px;
    width:312px;
    height:45px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:318px;
    height:51px;
}

.u12 {
    position:absolute;
    left:2px;
    top:14px;
    width:308px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:161px;
    top:511px;
    width:312px;
    height:45px
}

.u13_original {
    background-image: url('../1.3忘记密码_files/u13_original.png');
}

.u13_container {
    position:absolute;
    left:300px;
    top:610px;
    width:120px;
    height:32px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:32px;
}

.u14 {
    position:absolute;
    left:2px;
    top:8px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:300px;
    top:610px;
    width:120px;
    height:32px
}

.u15 {
    position:absolute;
    left:300px;
    top:616px;
    width:115px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_original {
    background-image: url('../1.3忘记密码_files/u11_original.png');
}

.u16_container {
    position:absolute;
    left:161px;
    top:556px;
    width:312px;
    height:45px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:318px;
    height:51px;
}

.u17 {
    position:absolute;
    left:2px;
    top:14px;
    width:308px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:161px;
    top:556px;
    width:312px;
    height:45px
}

.u18 {
    position:absolute;
    left:181px;
    top:571px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:279px;
    top:567px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20_original {
    background-image: url('../1.3忘记密码_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:161px;
    top:410px;
    width:65px;
    height:32px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:32px;
}

.u21 {
    position:absolute;
    left:2px;
    top:8px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:161px;
    top:410px;
    width:65px;
    height:32px
}

.u22 {
    position:absolute;
    left:171px;
    top:417px;
    width:50px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_original {
    background-image: url('../1.3忘记密码_files/u23_original.png');
}

.u23_container {
    position:absolute;
    left:300px;
    top:520px;
    width:120px;
    height:30px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:36px;
}

.u24 {
    position:absolute;
    left:2px;
    top:8px;
    width:116px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:300px;
    top:520px;
    width:120px;
    height:30px
}

