<!DOCTYPE html>
<html>
<head>
    <title>yang-yuxin.me - 嗨，我是杨裕欣</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css"/>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body>
<style type="text/css">
    .date-prefix { margin-right:2em;}
    body { background: url(/static/img/bg.png) }
    .container { background: #fff; padding: 20px;
        -moz-box-shadow:3px 3px 4px #ccc;
        -webkit-box-shadow:3px 3px 4px #ccc;
        box-shadow:3px 3px 4px #ccc;  }
</style>
<script>
    google.load("jquery", "1.7.1");
</script>

<div class="container">
    <section>
        <h1>杨裕欣(YANG Yuxin)</h1>
        <p>Have a lot of fun.</p>
        <dl>
            <dt>一堆链接:</dt>
            <dd><img src="/static/img/btn-weibo.png"/> <a target="_blank" href="http://weibo.com/yuxinyang">weibo.com/yuxinyang</a></dd>
            <dd><img src="/static/img/btn-diandian.png"/> <a target="_blank" href="http://yang-yuxin.diandian.com">yang-yuxin.diandian.com</a></dd>
            <dd><img src="/static/img/btn-flickr.png"/> <a target="_blank" href="http://flickr.com/bob_yuxin">flickr.com/bob_yuxin</a></dd>
            <dd>豆瓣: <a target="_blank" href="http://www.douban.com/people/coding4ever">douban.com/people/coding4ever</a></dd>
            <dd>脸书: <a target="_blank" href="http://www.facebook.com/bobyuxinyang">facebook.com/bobyuxinyang</a></dd>
            <dt>联系我:</dt>
            <dd><a href="mailto:bob.yuxinyang@gmail.com"><img src="/static/img/link-gmail.gif"/></a></dd>
            <dd><a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=cab768f0ce3de488ff721f8d880cbf4b5123d62f71e7dad7"><img border="0"  src="http://wpa.qq.com/imgd?IDKEY=cab768f0ce3de488ff721f8d880cbf4b5123d62f71e7dad7&pic=46" alt="我不经常上qq" title="我不经常上qq"></a></dd>
            <dd>
                <p>GT:bob.yuxinyang@gmail.com</p>
                <iframe src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlqh042r36t3sp6grrj1jav90l54ts4egdtgdieoa9pg9qh5c8u1qrm98m5dhguf5d4if01s8tg24gtn3m61kfpf5a07rvespmp6up4l3ohmkuca5uumvngratbflajgtaebpnff7egpkbi7ajvf96ji110ldmg35a30bh35o02954qoscoiovbni55fk&amp;w=200&amp;h=60" frameborder="0" allowtransparency="true" width="200" height="60"></iframe>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;你要有本事，可以点这儿直接gtalk我</p>
            </dd>
        </dl>
    </section>
    <section>
        <h1>hi，你好</h1>
        <p>我做过不少事儿，看看吧。</p>
        <ul>
            <li>coding和技术</li>
            <ul>
                <li><span class="date-prefix">2012-5-15</span>用bootstrap试着搭建yang.yuxin.me</li>
                <li><span class="date-prefix">2012-5-16</span>用ga在天朝实在慢，于是用给这个地方加了cnzz的统计</li>
		        <li><span class="date-prefix">2012-5-19</span>装上了aquaemacs，折腾上了twilight颜色，一直用不惯vi，试着上手emacs了..</li>
                <li><span class="date-prefix">2012-6-1</span>想着动手做做几个月前想到的一个东西：房东收租子app</li>
	    </ul>
            <li>拍照</li>
            <ul>
                <li><span class="date-prefix">2012-5-15</span>下了一个FlickrStackr的iPad客户端，非常喜欢</li>
                <li><span class="date-prefix">2012-5-28</span>下了newPad上的iSuper8，花钱买了一个胶片，效果不错</li>
            </ul>
            <li>玩</li>
            <p>走万里路，万里。。</p>
            <ul>
                <li><span class="date-prefix">2012-5-15</span>定下了2013-5-12去泰国澳门的行程</li>
            </ul>
            <li>吃</li>
            <p>记录私家菜谱跟做饭的想法：<a target="_blank" href="http://eatmeat.diandian.com">吃肉</a></p>
            <li>音乐</li>
            <li>其他东西</li>
        </ul>
    </section>
    <section>
        <h1>玩意儿</h1>
        <p>这年头，没点玩意儿放手里放着，拿得出手的东西，都放这儿说说，也算
	个评价系统了。额，这算炫富么。。。</p>
        <dl>
            <dt>macbook air 13</dt>
            <dd>
                <span class="date-prefix">2012-5-15</span>
                <p>干活的东西，一天大部分时间都抱着跟这玩意儿<br/>
                给换到了256G SSD，又快又爽。i5的低功耗CPU的确有点怂，多开几个程序就风扇就刷刷的转，尤其夏天。</p>
            </dd>
            <dt>the New iPad</dt>
            <dd><span class="date-prefix">2012-5-15</span><p>神马也不说了</p></dd>
            <dt>富士X100</dt>
            <dd><span class="date-prefix">2012-5-15</span><p>23mm(35mm)神焦距，2.0的夜神一般的光圈。因为镜头的特殊构造，体积超小，远近两段对焦，1m以内都算微距，一般人肯定不习惯。</p></dd>
            <dt>UE TF10耳机</dt>
            <dd><span class="date-prefix">2012-5-15</span><p>自己换了古河线</p></dd>
            <dt>舒尔e4c耳机</dt>
            <dd><span class="date-prefix">2012-5-15</span><p>08年入的老东西，同样换了古河线。。经典啊</p></dd>
            <dt>Apogee ONE</dt>
            <dd>mac的好基友。。</dd>
            <dt><del>DT235</del>(在2012-5-15失去)</dt>
            <dd><span class="date-prefix">2012-5-15</span><p>一边没声音了光荣就义</p></dd>
            <dt>KOIOS 24寸显示器</dt>
            <dd><span class="date-prefix">2012-5-15</span><p>一台国产神器。用iMac的屏幕组装的显示器，显示效果跟iMac完全相同，但是价钱。。</p></dd>
            <dt>RAZER 炼狱蝰蛇鼠标</dt>
            <dd><span class="date-prefix">2012-5-15</span><p>这个鼠标是真舒服，唯一的缺点就是在mac上不能触摸吧（太yy MM鼠标了）</p></dd>
            <dt>RAZER 黑寡妇MAC版本机械键盘</dt>
            <dd><span class="date-prefix">2012-5-15</span><p>国内能找到的唯一靠谱的全尺寸的mac专用机械键盘。买到手发现键位尺寸比正常键盘略小。。适应一段时间后还是很舒服的。</p></dd>

        </dl>
    </section>
    <section>
        <h1>你会写code?</h1>
        <p>一直想做一个个人的“故事版”，什么人人，FB，微博感觉都不够靠谱，做个通用的故事版程序又太折腾，于是自己搞个吧，就是你正在看的这个。</p>
        <p>我会慢慢完善他，另外，开源，学习，你可以，所以，如果你有兴趣：</p>
        <a href="https://github.com/YuxinYang/yang-yuxin.me">在Github上看看这个主页的源码</a>
    </section>
</div>
<script src="http://s22.cnzz.com/stat.php?id=4137751&web_id=4137751" language="JavaScript"></script>
<script>
    $(function () {
        $('a').each(function (index, item) {
           if ($(item).prop('title') == '站长统计') {
               $(item).hide();
           }
        });
    })
</script>
</body>
</html>