<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
<div>
    <p>杨裕欣(YANG Yuxin)</p>
    <p>Have a lot of fun.</p>
</div>
<dl>
    <dt>links:</dt>
    <dd>weibo: <a href="http://weibo.com/yuxinyang">weibo.com/yuxinyang</a></dd>
    <dd>blog: <a href="http://yang-yuxin.diandian.com">yang-yuxin.diandian.com</a></dd>
    <dd>flickr: <a href="http://flickr.com/bob_yuxin">flickr.com/bob_yuxin</a></dd>
    <dd>douban: <a href="http://www.douban.com/people/coding4ever">douban.com/people/coding4ever</a></dd>
    <dd>facebook: <a href="http://www.facebook.com/bobyuxinyang">facebook.com/bobyuxinyang</a></dd>
    <dt>Contact:</dt>
    <dd>Email Me: <a href="mailto:bob.yuxinyang@gmail.com">Clike me.</a></dd>
</dl>
</body>
</html>