<!DOCTYPE html>
<html>
<head>
    <title>嗨，我是杨裕欣</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-esponsive.min.css"/>
</head>
<body>
<style type="text/css">
    .date-prefix { margin-right:2em;}
</style>

<div class="container">
    <p></p>
    <h1>杨裕欣(YANG Yuxin)</h1>
    <p>Have a lot of fun.</p>
    <dl>
        <dt>一堆链接:</dt>
        <dd>weibo: <a href="http://weibo.com/yuxinyang">weibo.com/yuxinyang</a></dd>
        <dd>blog: <a href="http://yang-yuxin.diandian.com">yang-yuxin.diandian.com</a></dd>
        <dd>flickr: <a href="http://flickr.com/bob_yuxin">flickr.com/bob_yuxin</a></dd>
        <dd>douban: <a href="http://www.douban.com/people/coding4ever">douban.com/people/coding4ever</a></dd>
        <dd>facebook: <a href="http://www.facebook.com/bobyuxinyang">facebook.com/bobyuxinyang</a></dd>
        <dt>联系我:</dt>
        <dd>Email: <a href="mailto:bob.yuxinyang@gmail.com">Clike me.</a></dd>
        <dd>QQ: 47368554</dd>
        <dd>GTalk: bob.yuxinyang@gmail.com</dd>
    </dl>
    <h2>hi，你好</h2>
    <p>我做过不少事儿，看看吧。</p>
    <ul>
        <li>coding和技术</li>
        <ul>
            <li><span class="date-prefix">2012-5-15</span>用bootstrap试着搭建yang.yuxin.me</li>
        </ul>
        <li>看书</li>
        <li>拍照</li>
        <ul>
            <li><span class="date-prefix">2012-5-15</span>下了一个FlickrStackr的iPad客户端，非常喜欢</li>
        </ul>
        <li>玩</li>
        <ul>
            <li><span class="date-prefix">2012-5-15</span>定下了2013-5-12去泰国澳门的行程</li>
        </ul>
        <li>音乐</li>
        <li>其他东西</li>
    </ul>
</div>
</body>
</html>