<!DOCTYPE html>
<html>
<head>
    <title>嗨，我是杨裕欣</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
</head>
<body>

<div data-role="page">

    <div data-role="header">
        <h1>嗨，我是杨裕欣</h1>
    </div><!-- /header -->

    <div data-role="content">
        <section>
            <h1>杨裕欣(YANG Yuxin)</h1>
            <p>Have a lot of fun.</p>

            <ul data-role="listview" class="ui-listview">
                <li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-bar-d">一堆链接</li>
                <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-count ui-li-has-icon ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text">
                    <a target="_blank" href="http://weibo.com/yuxinyang" class="ui-link-inherit">
                        <img src="/static/img/btn-weibo.png" alt="France" class="ui-li-icon ui-li-thumb">会写代码的杨裕欣
                    </a>
                </div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span></div></li>
                <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-count ui-li-has-icon ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text">
                    <a target="_blank" href="http://yang-yuxin.diandian.com" class="ui-link-inherit">
                        <img src="/static/img/btn-diandian.png" alt="France" class="ui-li-icon ui-li-thumb">yang-yuxin.diandian.com
                    </a>
                </div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span></div></li>
                <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-count ui-li-has-icon ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text">
                    <a target="_blank" href="http://flickr.com/bob_yuxin" class="ui-link-inherit">
                        <img src="/static/img/btn-flickr.png" alt="France" class="ui-li-icon ui-li-thumb"><span style="margin-left: 16px;">flickr.com/bob_yuxin</span>
                    </a>
                </div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span></div></li>
                <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-count ui-li-has-icon ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text">
                    <a target="_blank" href="http://www.facebook.com/bobyuxinyang" class="ui-link-inherit">
                        脸书：facebook.com/bobyuxinyang
                    </a>
                </div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span></div></li>
                <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-count ui-li-has-icon ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text">
                    <a target="_blank" href="http://douban.com/people/coding4ever" class="ui-link-inherit">
                        豆瓣：douban.com/people/coding4ever
                    </a>
                </div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span></div></li>
            </ul>

        </section>
    </div><!-- /content -->

</div><!-- /page -->

</body>
</html>