body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../播放页面_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:116px;
    top:269px;
    width:404px;
    height:752px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:404px;
    height:752px;
}

.u1 {
    position:absolute;
    left:2px;
    top:368px;
    width:400px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:116px;
    top:269px;
    width:404px;
    height:752px
}

.u2_original {
    background-image: url('../播放页面_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:158px;
    top:403px;
    width:320px;
    height:480px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px;
}

.u3 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:158px;
    top:403px;
    width:320px;
    height:480px
}

.u4 {
    position:absolute;
    left:190px;
    top:840px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_original {
    background-image: url('../播放页面_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:158px;
    top:404px;
    width:320px;
    height:43px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:49px;
}

.u6 {
    position:absolute;
    left:2px;
    top:10px;
    width:316px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:158px;
    top:404px;
    width:320px;
    height:43px
}

.u7_original {
    background-image: url('../播放页面_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:161px;
    top:410px;
    width:65px;
    height:32px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:32px;
}

.u8 {
    position:absolute;
    left:2px;
    top:8px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:161px;
    top:410px;
    width:65px;
    height:32px
}

.u9 {
    position:absolute;
    left:171px;
    top:417px;
    width:50px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:420px;
    top:412px;
    width:50px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11_original {
    background-image: url('../播放页面_files/u11_original.png');
}

.u11_container {
    position:absolute;
    left:170px;
    top:460px;
    width:290px;
    height:300px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:290px;
    height:300px;
}

.u12 {
    position:absolute;
    left:2px;
    top:142px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:170px;
    top:460px;
    width:290px;
    height:300px
}

.u13 {
    position:absolute;
    left:269px;
    top:795px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14_original {
    background-image: url('../播放页面_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:615px;
    top:480px;
    width:235px;
    height:130px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:241px;
    height:136px;
}

.u15 {
    position:absolute;
    left:2px;
    top:12px;
    width:231px;
    height:105px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:615px;
    top:480px;
    width:235px;
    height:130px
}

.u16_start {
    background-image: url('../播放页面_files/u16_start.png');
}

.u16_start {
    position:absolute;
    left:470px;
    top:495px;
    width:10px;
    height:20px;
}

.u16_line {
    background-image: url('../播放页面_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:470px;
    top:504px;
    width:144px;
    height:3px;
}

.u16 {
    position:absolute;
    left:470px;
    top:504px;
    width:144px;
    height:3px
}

.u17 {
    position:absolute;
    left:380px;
    top:795px;
    width:50px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:190px;
    top:795px;
    width:50px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19_start {
    background-image: url('../播放页面_files/u19_start.png');
}

.u19_start {
    position:absolute;
    left:175px;
    top:765px;
    width:10px;
    height:20px;
}

.u19_end {
    background-image: url('../播放页面_files/u19_end.png');
}

.u19_end {
    position:absolute;
    left:446px;
    top:765px;
    width:10px;
    height:20px;
}

.u19_line {
    background-image: url('../播放页面_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:175px;
    top:772px;
    width:280px;
    height:7px;
}

.u19 {
    position:absolute;
    left:175px;
    top:772px;
    width:280px;
    height:7px
}

.u20_original {
    background-image: url('../播放页面_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:437px;
    top:851px;
    width:40px;
    height:30px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:36px;
}

.u21 {
    position:absolute;
    left:2px;
    top:7px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:437px;
    top:851px;
    width:40px;
    height:30px
}

.u22_original {
    background-image: url('../播放页面_files/u14_original.png');
}

.u22_container {
    position:absolute;
    left:605px;
    top:840px;
    width:235px;
    height:130px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:241px;
    height:136px;
}

.u23 {
    position:absolute;
    left:2px;
    top:54px;
    width:231px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:605px;
    top:840px;
    width:235px;
    height:130px
}

.u24_start {
    background-image: url('../播放页面_files/u24_start.png');
}

.u24_start {
    position:absolute;
    left:460px;
    top:855px;
    width:10px;
    height:20px;
}

.u24_line {
    background-image: url('../播放页面_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:460px;
    top:864px;
    width:144px;
    height:3px;
}

.u24 {
    position:absolute;
    left:460px;
    top:864px;
    width:144px;
    height:3px
}

.u25_original {
    background-image: url('../播放页面_files/u0_original.png');
}

.u25_container {
    position:absolute;
    left:940px;
    top:288px;
    width:404px;
    height:752px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:404px;
    height:752px;
}

.u26 {
    position:absolute;
    left:2px;
    top:368px;
    width:400px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:940px;
    top:288px;
    width:404px;
    height:752px
}

.u27_original {
    background-image: url('../播放页面_files/u2_original.png');
}

.u27_container {
    position:absolute;
    left:982px;
    top:422px;
    width:320px;
    height:480px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px;
}

.u28 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:982px;
    top:422px;
    width:320px;
    height:480px
}

.u29 {
    position:absolute;
    left:1014px;
    top:859px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_original {
    background-image: url('../播放页面_files/u5_original.png');
}

.u30_container {
    position:absolute;
    left:982px;
    top:423px;
    width:320px;
    height:43px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:49px;
}

.u31 {
    position:absolute;
    left:2px;
    top:10px;
    width:316px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:982px;
    top:423px;
    width:320px;
    height:43px
}

.u32_original {
    background-image: url('../播放页面_files/u32_original.png');
}

.u32_container {
    position:absolute;
    left:984px;
    top:528px;
    width:312px;
    height:1px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:318px;
    height:7px;
}

.u33 {
    position:absolute;
    left:2px;
    top:-8px;
    width:308px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:984px;
    top:528px;
    width:312px;
    height:1px
}

.u34 {
    position:absolute;
    left:994px;
    top:438px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_original {
    background-image: url('../播放页面_files/u35_original.png');
}

.u35_container {
    position:absolute;
    left:992px;
    top:792px;
    width:302px;
    height:1px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:308px;
    height:7px;
}

.u36 {
    position:absolute;
    left:2px;
    top:-8px;
    width:298px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:992px;
    top:792px;
    width:302px;
    height:1px
}

.u37_original {
    background-image: url('../播放页面_files/u35_original.png');
}

.u37_container {
    position:absolute;
    left:994px;
    top:533px;
    width:302px;
    height:1px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:308px;
    height:7px;
}

.u38 {
    position:absolute;
    left:2px;
    top:-8px;
    width:298px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:994px;
    top:533px;
    width:302px;
    height:1px
}

.u39_original {
    background-image: url('../播放页面_files/u7_original.png');
}

.u39_container {
    position:absolute;
    left:984px;
    top:429px;
    width:65px;
    height:32px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:32px;
}

.u40 {
    position:absolute;
    left:2px;
    top:8px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:984px;
    top:429px;
    width:65px;
    height:32px
}

.u41 {
    position:absolute;
    left:994px;
    top:438px;
    width:50px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_original {
    background-image: url('../播放页面_files/u42_original.png');
}

.u42_container {
    position:absolute;
    left:982px;
    top:467px;
    width:320px;
    height:35px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:41px;
}

.u43 {
    position:absolute;
    left:2px;
    top:10px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:982px;
    top:467px;
    width:320px;
    height:35px
}

.u44_original {
    background-image: url('../播放页面_files/u44_original.png');
}

.u44_container {
    position:absolute;
    left:982px;
    top:809px;
    width:320px;
    height:45px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:51px;
}

.u45 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:982px;
    top:809px;
    width:320px;
    height:45px
}

.u46_original {
    background-image: url('../播放页面_files/u46_original.png');
}

.u46_container {
    position:absolute;
    left:1344px;
    top:817px;
    width:95px;
    height:42px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:48px;
}

.u47 {
    position:absolute;
    left:2px;
    top:13px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:1344px;
    top:817px;
    width:95px;
    height:42px
}

.u48_original {
    background-image: url('../播放页面_files/u48_original.png');
}

.u48_container {
    position:absolute;
    left:984px;
    top:569px;
    width:320px;
    height:50px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:56px;
}

.u49 {
    position:absolute;
    left:2px;
    top:1px;
    width:316px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:984px;
    top:569px;
    width:320px;
    height:50px
}

.u50_original {
    background-image: url('../播放页面_files/u48_original.png');
}

.u50_container {
    position:absolute;
    left:984px;
    top:629px;
    width:320px;
    height:50px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:56px;
}

.u51 {
    position:absolute;
    left:2px;
    top:1px;
    width:316px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:984px;
    top:629px;
    width:320px;
    height:50px
}

.u52_original {
    background-image: url('../播放页面_files/u48_original.png');
}

.u52_container {
    position:absolute;
    left:984px;
    top:689px;
    width:320px;
    height:50px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:56px;
}

.u53 {
    position:absolute;
    left:2px;
    top:1px;
    width:316px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:984px;
    top:689px;
    width:320px;
    height:50px
}

.u54_original {
    background-image: url('../播放页面_files/u48_original.png');
}

.u54_container {
    position:absolute;
    left:984px;
    top:749px;
    width:320px;
    height:50px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:56px;
}

.u55 {
    position:absolute;
    left:2px;
    top:1px;
    width:316px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:984px;
    top:749px;
    width:320px;
    height:50px
}

.u56 {
    position:absolute;
    left:983px;
    top:862px;
    width:320px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57_original {
    background-image: url('../播放页面_files/u14_original.png');
}

.u57_container {
    position:absolute;
    left:1425px;
    top:860px;
    width:235px;
    height:130px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:241px;
    height:136px;
}

.u58 {
    position:absolute;
    left:2px;
    top:44px;
    width:231px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:1425px;
    top:860px;
    width:235px;
    height:130px
}

.u59_start {
    background-image: url('../播放页面_files/u59_start.png');
}

.u59_start {
    position:absolute;
    left:1280px;
    top:875px;
    width:10px;
    height:20px;
}

.u59_line {
    background-image: url('../播放页面_files/u59_line.png');
}

.u59_line {
    position:absolute;
    left:1280px;
    top:884px;
    width:144px;
    height:3px;
}

.u59 {
    position:absolute;
    left:1280px;
    top:884px;
    width:144px;
    height:3px
}

