body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../6.2软件设置_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:120px;
    top:118px;
    width:404px;
    height:752px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:404px;
    height:752px;
}

.u1 {
    position:absolute;
    left:2px;
    top:368px;
    width:400px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:120px;
    top:118px;
    width:404px;
    height:752px
}

.u2_original {
    background-image: url('../6.2软件设置_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:162px;
    top:252px;
    width:320px;
    height:480px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px;
}

.u3 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:162px;
    top:252px;
    width:320px;
    height:480px
}

.u4 {
    position:absolute;
    left:194px;
    top:689px;
    width:257px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_original {
    background-image: url('../6.2软件设置_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:162px;
    top:253px;
    width:320px;
    height:43px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:49px;
}

.u6 {
    position:absolute;
    left:2px;
    top:10px;
    width:316px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:162px;
    top:253px;
    width:320px;
    height:43px
}

.u7_original {
    background-image: url('../6.2软件设置_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:164px;
    top:358px;
    width:312px;
    height:1px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:318px;
    height:7px;
}

.u8 {
    position:absolute;
    left:2px;
    top:-8px;
    width:308px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:164px;
    top:358px;
    width:312px;
    height:1px
}

.u9 {
    position:absolute;
    left:174px;
    top:268px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_original {
    background-image: url('../6.2软件设置_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:172px;
    top:622px;
    width:302px;
    height:1px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:308px;
    height:7px;
}

.u11 {
    position:absolute;
    left:2px;
    top:-8px;
    width:298px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:172px;
    top:622px;
    width:302px;
    height:1px
}

.u12_original {
    background-image: url('../6.2软件设置_files/u10_original.png');
}

.u12_container {
    position:absolute;
    left:174px;
    top:363px;
    width:302px;
    height:1px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:308px;
    height:7px;
}

.u13 {
    position:absolute;
    left:2px;
    top:-8px;
    width:298px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:174px;
    top:363px;
    width:302px;
    height:1px
}

.u14_container {
    position:absolute;
    left:162px;
    top:684px;
    width:321px;
    height:49px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:49px;
}

.u15 {
    position:absolute;
    left:2px;
    top:16px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:162px;
    top:684px;
    width:321px;
    height:49px
}

.u16 {
    position:absolute;
    left:180px;
    top:718px;
    width:334px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_original {
    background-image: url('../6.2软件设置_files/u17_original.png');
}

.u17_container {
    position:absolute;
    left:164px;
    top:259px;
    width:65px;
    height:32px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:32px;
}

.u18 {
    position:absolute;
    left:2px;
    top:8px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:164px;
    top:259px;
    width:65px;
    height:32px
}

.u19 {
    position:absolute;
    left:174px;
    top:268px;
    width:50px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_original {
    background-image: url('../6.2软件设置_files/u20_original.png');
}

.u20_container {
    position:absolute;
    left:162px;
    top:300px;
    width:320px;
    height:30px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:36px;
}

.u21 {
    position:absolute;
    left:2px;
    top:7px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:162px;
    top:300px;
    width:320px;
    height:30px
}

.u22_original {
    background-image: url('../6.2软件设置_files/u22_original.png');
}

.u22_container {
    position:absolute;
    left:162px;
    top:374px;
    width:320px;
    height:39px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:45px;
}

.u23 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:162px;
    top:374px;
    width:320px;
    height:39px
}

.u24_original {
    background-image: url('../6.2软件设置_files/u24_original.png');
}

.u24_container {
    position:absolute;
    left:162px;
    top:413px;
    width:320px;
    height:38px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:44px;
}

.u25 {
    position:absolute;
    left:2px;
    top:11px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:162px;
    top:413px;
    width:320px;
    height:38px
}

.u26_original {
    background-image: url('../6.2软件设置_files/u22_original.png');
}

.u26_container {
    position:absolute;
    left:162px;
    top:451px;
    width:320px;
    height:39px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:45px;
}

.u27 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:162px;
    top:451px;
    width:320px;
    height:39px
}

.u28_original {
    background-image: url('../6.2软件设置_files/u22_original.png');
}

.u28_container {
    position:absolute;
    left:162px;
    top:490px;
    width:320px;
    height:39px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:45px;
}

.u29 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:162px;
    top:490px;
    width:320px;
    height:39px
}

.u30_original {
    background-image: url('../6.2软件设置_files/u22_original.png');
}

.u30_container {
    position:absolute;
    left:162px;
    top:335px;
    width:320px;
    height:39px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:45px;
}

.u31 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:162px;
    top:335px;
    width:320px;
    height:39px
}

.u32 {
    position:absolute;
    left:404px;
    top:302px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u33_original {
    background-image: url('../resources/images/transparent.gif');
}

.u33_container {
    position:absolute;
    left:384px;
    top:374px;
    width:50px;
    height:39px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:45px;
}

.u34 {
    position:absolute;
    left:2px;
    top:12px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:384px;
    top:374px;
    width:50px;
    height:39px
}

.u35_original {
    background-image: url('../resources/images/transparent.gif');
}

.u35_container {
    position:absolute;
    left:384px;
    top:335px;
    width:50px;
    height:39px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:45px;
}

.u36 {
    position:absolute;
    left:2px;
    top:12px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:384px;
    top:335px;
    width:50px;
    height:39px
}

.u37_original {
    background-image: url('../resources/images/transparent.gif');
}

.u37_container {
    position:absolute;
    left:384px;
    top:413px;
    width:50px;
    height:38px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:44px;
}

.u38 {
    position:absolute;
    left:2px;
    top:11px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:384px;
    top:413px;
    width:50px;
    height:38px
}

.u39_original {
    background-image: url('../6.2软件设置_files/u39_original.png');
}

.u39_container {
    position:absolute;
    left:524px;
    top:329px;
    width:180px;
    height:80px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u40 {
    position:absolute;
    left:2px;
    top:32px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:524px;
    top:329px;
    width:180px;
    height:80px
}

.u41 {
    position:absolute;
    left:184px;
    top:629px;
    width:280px;
    height:50px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

